<div>
  <button #left>Vänster</button>
  <button #right>Höger</button>
</div>

<svg style="position: absolute" width="100%" height="100%" pointer-events="all" >
  <circle [attr.cx]="x" cy="70" r="20" fill="red"></circle>
</svg>
